body{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 150vh;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
}


.header, .footer, .top-container{
    background-color: #1F2937;
    color: #F9FAF8;

}
.header{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    font-size: 24px;
}



ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    padding-left: 16px;
}

ul li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


.title{
    font-size: 48px;
    font-weight:bold;

}

.quote-container{
    background-color: #E5E7EB;

}

.top-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
    padding: 60px
    
}

.top-container img{
    margin-right: 105px;
}

.title-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    margin-left: 105px;
    margin-top: 25px;
}

.title-container button{
    margin-top: 10px;
    background-color:#3882F6;
    border-color:#3882F6 ;
    color: #F9FAF8;;
    border-style: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.image-container{
    display: flex;
    flex-direction:column;
    flex: 1;
    padding: 20px;
}

.image-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-top: 30px;
}

.info{
    max-width: 150px;
}
.info img {
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 10px;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 50px;
    
}


.img-text{
    text-align: center;
}

.quote-container{
    display: flex;
    flex: 1;
    padding: 80px;
    flex-direction: column;
    align-items: center;

}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    padding-bottom: 16px; 
}

.quote-maker{
    font-weight: bold;
}




.action-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding:80px;
}

.action {
    display: flex;
    background-color:#3882F6;
    padding:50px;
    min-width: 1200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.action-left{
    color: #F9FAF8;
    
}
.action-title{
    font-size: 26px;
    font-weight: bold;
}

.action-right button {
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 2px;
    border-radius: 10px;
    color: #F9FAF8;

    font-size: 16px;
    font-weight:700;
    padding: 5px 32px;

}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}